<!DOCTYPE html>
<html ng-app="AngularCalculator">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<script src="AngularCalculator.js"></script>
	
	
</head>

<body ng-controller="CalculatorCntrl">
	<input type="number" ng-model="numbers.num1"/>
  	<input type="number" ng-model="numbers.num2"/>

        <button ng-click ="add();">+</button>
        <button ng-click ="subtract();">-</button>
        <button ng-click ="multiply();">*</button>
        <button ng-click ="divide();">/</button>
  
  <p>{{result}}</p>

</body>
</html>